openapi: 3.1.0
info:
  title: Ansa API
  version: '1'
  description: Ansa stored-value wallet platform API. Reconstructed by API Evangelist from the per-operation
    OpenAPI 3.1 definitions embedded in the Ansa ReadMe documentation (docs.ansa.dev/reference).
servers:
- url: https://api.getansa.com
  description: Live
- url: https://api-sandbox.getansa.com
  description: Sandbox
security:
- sec0: []
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
      description: API key in the Authorization header. Keys are prefixed ansa_sk_live_/ansa_sk_sandbox_
        (merchant secret), ansa_cs_live_/ansa_cs_sandbox_ (client secret).
paths:
  /v1/customers/{customerId}/add-balance:
    post:
      summary: Add balance
      description: ''
      operationId: add-balance
      parameters:
      - name: customerId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - currency
              - paymentMethodId
              properties:
                amount:
                  type: integer
                  description: The amount to charge the customer's payment method and add to their wallet.
                  format: int64
                currency:
                  type: string
                  description: Three-letter ISO currency code.
                paymentMethodId:
                  type: string
                  description: Payment method id to be charged.
                disablePromotion:
                  type: boolean
                  description: Flag to disable any automated promotions for this transaction, such as
                    reload bonuses.
                label:
                  type: string
                  description: A string reference that can be attached to this transaction for future
                    discoverability.
                metadata:
                  type: string
                  description: JSON object of string key-value pairs that you can attach to the created
                    transaction.
                  format: json
                additionalInfo:
                  type: object
                  description: Additional structured information about this transaction. Does not impact
                    transaction behavior.
                  properties:
                    storeId:
                      type: string
                      description: An id for the store this transaction occurred at. This value is used
                        in reporting.
                    storeName:
                      type: string
                      description: The name of the store this transaction occurred at. This value is used
                        in reporting.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"additionalInfo\": null,\n    \"label\": \"\",\n    \"metadata\": {},\n\
                    \    \"timestamp\": \"2025-05-02T21:17:29.506Z\",\n    \"transactionId\": \"2c911401-4faa-4903-9248-0ec79a624c9f\"\
                    ,\n    \"currentBalance\": {\n        \"amount\": 3350,\n        \"currency\": \"\
                    USD\"\n    }\n}"
              schema:
                type: object
                properties:
                  additionalInfo: {}
                  label:
                    type: string
                    example: ''
                  metadata:
                    type: object
                    properties: {}
                  timestamp:
                    type: string
                    example: '2025-05-02T21:17:29.506Z'
                  transactionId:
                    type: string
                    example: 2c911401-4faa-4903-9248-0ec79a624c9f
                  currentBalance:
                    type: object
                    properties:
                      amount:
                        type: integer
                        example: 3350
                        default: 0
                      currency:
                        type: string
                        example: USD
        '402':
          description: '402'
          content:
            application/json:
              examples:
                Payment Failure:
                  value: "{\n  \"code\": \"request_failed\",\n  \"declineCode\": \"generic_decline\",\n\
                    \  \"message\": \"There was an error processing your payment method\",\n  \"type\"\
                    : \"payment_method_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: request_failed
                  declineCode:
                    type: string
                    example: generic_decline
                  message:
                    type: string
                    example: There was an error processing your payment method
                  type:
                    type: string
                    example: payment_method_error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/customer_segments/{segmentId}/customers:
    post:
      summary: Add customers to a segment
      description: ''
      operationId: add-customers-to-segment
      parameters:
      - name: segmentId
        in: path
        description: the id of the segment
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    properties:
                      id:
                        type: string
                        description: customer id
                    required:
                    - id
                    type: object
      responses:
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    delete:
      summary: Remove customers from segment
      description: ''
      operationId: remove-user-from-segment
      parameters:
      - name: segmentId
        in: path
        description: the segment id
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    properties:
                      id:
                        type: string
                        description: customer id
                    required:
                    - id
                    type: object
      responses:
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/{customerId}/add-incentive:
    post:
      summary: Copy of Fund customer balance
      description: ''
      operationId: post_v1fund-customer-balance-1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - currency
              properties:
                amount:
                  type: integer
                  description: Amount to add to the customer's balance.
                  format: int32
                currency:
                  type: string
                  description: Three-letter ISO currency code.
                reason:
                  type: string
                  description: Optional descriptor for the transaction.
                label:
                  type: string
                  description: A string reference that can be attached to this transaction for future
                    discoverability.
                metadata:
                  type: string
                  description: JSON object of string key-value pairs that you can attach to the created
                    transaction.
                  format: json
                additionalInfo:
                  type: object
                  description: Additional structured information about this transaction. Does not impact
                    transaction behavior.
                  properties:
                    storeId:
                      type: string
                      description: An id for the store this transaction occurred at. This value is used
                        in reporting.
                    storeName:
                      type: string
                      description: The name of the store this transaction occurred at. This value is used
                        in reporting.
                expirationMetadata:
                  type: object
                  description: Object that represents when funds will expire from customer's balance
                  properties:
                    expirationType:
                      type: string
                      default: ''
                      enum:
                      - x_days_after_redeeming
                    numDays:
                      type: integer
                      format: int32
                    fixedDate:
                      type: string
                      description: Fixed date of expiration, in RFC 3339 format
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"transactionId\": \"5d92253c-24ea-4680-936b-7c3db183877d\",\n    \"\
                    customerId\": \"09c02419-9ef4-41b5-979d-e9793dadb101\",\n    \"currentBalance\": {\n\
                    \        \"amount\": 850,\n        \"currency\": \"USD\"\n    },\n    \"additionalInfo\"\
                    : null,\n    \"label\": \"\",\n    \"metadata\": null,\n    \"timestamp\": \"2025-05-02T20:48:44.673Z\"\
                    ,\n    \"expirationInfo\": {\n      \"expirationType\": \"x_days_after_redeeming\"\
                    ,       \n\t\t  \"numDays\": 6,\n      \"expiresAt\": \"2025-08-04T22:30:30.404Z\"\
                    \n    },\n    \"promoInfo\": {\n        \"promoCodeId\": null,\n        \"promotionType\"\
                    : \"fund_balance\",\n        \"userReferralId\": null\n    }\n}"
              schema:
                type: object
                properties:
                  transactionId:
                    type: string
                    example: 5d92253c-24ea-4680-936b-7c3db183877d
                  customerId:
                    type: string
                    example: 09c02419-9ef4-41b5-979d-e9793dadb101
                  currentBalance:
                    type: object
                    properties:
                      amount:
                        type: integer
                        example: 850
                        default: 0
                      currency:
                        type: string
                        example: USD
                  additionalInfo: {}
                  label:
                    type: string
                    example: ''
                  metadata: {}
                  timestamp:
                    type: string
                    example: '2025-05-02T20:48:44.673Z'
                  expirationInfo:
                    type: object
                    properties:
                      expirationType:
                        type: string
                        example: x_days_after_redeeming
                      numDays:
                        type: integer
                        example: 6
                        default: 0
                      expiresAt:
                        type: string
                        example: '2025-08-04T22:30:30.404Z'
                  promoInfo:
                    type: object
                    properties:
                      promoCodeId: {}
                      promotionType:
                        type: string
                        example: fund_balance
                      userReferralId: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"code\": \"invalid_parameter\",\n    \"message\": \"The provided parameter\
                    \ [amount] is invalid.\",\n    \"type\": \"invalid_request_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: invalid_parameter
                  message:
                    type: string
                    example: The provided parameter [amount] is invalid.
                  type:
                    type: string
                    example: invalid_request_error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Server Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}\n"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
      parameters:
      - in: path
        name: customerId
        schema:
          type: string
        required: true
  /v1/merchants/{merchantId}/calculate-settlement:
    post:
      summary: Calculate settlement
      description: ''
      operationId: calculate-settlement
      parameters:
      - name: merchantId
        in: path
        description: The id of the merchant
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - currency
              properties:
                currency:
                  type: string
                  description: The three-letter ISO currency code, in lowercase.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"availableSettlementAmount\": 1225,\n    \"currency\": \"USD\",\n  \
                    \  \"currentMerchantBalance\": {\n        \"amount\": 1500,\n        \"currency\"\
                    : \"USD\",\n        \"promotionalAmount\": 0,\n        \"reserveAmount\": 0,\n   \
                    \     \"walletFundingHoldAmount\": -275\n    }\n}"
              schema:
                type: object
                properties:
                  availableSettlementAmount:
                    type: integer
                    example: 1225
                    default: 0
                  currency:
                    type: string
                    example: USD
                  currentMerchantBalance:
                    type: object
                    properties:
                      amount:
                        type: integer
                        example: 1500
                        default: 0
                      currency:
                        type: string
                        example: USD
                      promotionalAmount:
                        type: integer
                        example: 0
                        default: 0
                      reserveAmount:
                        type: integer
                        example: 0
                        default: 0
                      walletFundingHoldAmount:
                        type: integer
                        example: -275
                        default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n  \"code\": \"invalid_merchant_id\",\n    \"message\": \"The provided merchant\
                    \ id is invalid.\",\n      \"type\": \"invalid_request_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: invalid_merchant_id
                  message:
                    type: string
                    example: The provided merchant id is invalid.
                  type:
                    type: string
                    example: invalid_request_error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/customers/{customerId}/referrals:
    post:
      summary: Claim customer referral
      description: ''
      operationId: claim-user-referral
      parameters:
      - name: customerId
        in: path
        description: The id of the customer.
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - referralCode
              properties:
                referralCode:
                  type: string
                  description: The sender’s referral code.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n  \"created\": \"2023-11-30T22:10:49.928-08:00\",\n  \"id\": \"ddaa42cd-5222-4e8e-b99e-20a41d9d36e2\"\
                    ,\n  \"recipientCreditAmount\": 500,\n  \"recipientId\": \"7b233c5e-98a9-409f-8dab-06b20e0115ac\"\
                    ,\n  \"redemptionEvent\": \"create_user\",\n  \"redemptionThresholdAmount\": 0,\n\
                    \  \"senderCreditAmount\": 250,\n  \"senderId\": \"fd84617f-ff6b-4e14-bb0f-2b67b98b4b09\"\
                    ,\n  \"status\": \"redeemed\"\n}"
              schema:
                type: object
                properties:
                  created:
                    type: string
                    example: '2023-11-30T22:10:49.928-08:00'
                  id:
                    type: string
                    example: ddaa42cd-5222-4e8e-b99e-20a41d9d36e2
                  recipientCreditAmount:
                    type: integer
                    example: 500
                    default: 0
                  recipientId:
                    type: string
                    example: 7b233c5e-98a9-409f-8dab-06b20e0115ac
                  redemptionEvent:
                    type: string
                    example: create_user
                  redemptionThresholdAmount:
                    type: integer
                    example: 0
                    default: 0
                  senderCreditAmount:
                    type: integer
                    example: 250
                    default: 0
                  senderId:
                    type: string
                    example: fd84617f-ff6b-4e14-bb0f-2b67b98b4b09
                  status:
                    type: string
                    example: redeemed
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"code\": \"invalid_referral_code\",\n    \"message\": \"The user already\
                    \ claimed a referral code.\",\n    \"type\": \"invalid_request_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: invalid_referral_code
                  message:
                    type: string
                    example: The user already claimed a referral code.
                  type:
                    type: string
                    example: invalid_request_error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    get:
      summary: Get customer referrals
      description: ''
      operationId: get-user-referrals
      parameters:
      - name: customerId
        in: path
        description: The id of the customer.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n  \"receivedReferral\": {\n    \"created\": \"2023-11-30T22:10:49.928-08:00\"\
                    ,\n    \"id\": \"ddaa42cd-5222-4e8e-b99e-20a41d9d36e2\",\n    \"recipientCreditAmount\"\
                    : 500,\n    \"recipientId\": \"7b233c5e-98a9-409f-8dab-06b20e0115ac\",\n    \"redemptionEvent\"\
                    : \"create_user\",\n    \"redemptionThresholdAmount\": 0,\n    \"senderCreditAmount\"\
                    : 250,\n    \"senderId\": \"fd84617f-ff6b-4e14-bb0f-2b67b98b4b09\",\n    \"status\"\
                    : \"redeemed\"\n  },\n  \"sentReferrals\": [\n    {\n      \"created\": \"2023-11-30T22:10:49.928-08:00\"\
                    ,\n      \"id\": \"ddaa42cd-5222-4e8e-b99e-20a41d9d36e2\",\n      \"recipientCreditAmount\"\
                    : 500,\n      \"recipientId\": \"a2233c5e-98a9-409f-8dab-06b20e0115ac\",\n      \"\
                    redemptionEvent\": \"create_user\",\n      \"redemptionThresholdAmount\": 0,\n   \
                    \   \"senderCreditAmount\": 250,\n      \"senderId\": \"7b233c5e-98a9-409f-8dab-06b20e0115ac\"\
                    ,\n      \"status\": \"redeemed\"\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  receivedReferral:
                    type: object
                    properties:
                      created:
                        type: string
                        example: '2023-11-30T22:10:49.928-08:00'
                      id:
                        type: string
                        example: ddaa42cd-5222-4e8e-b99e-20a41d9d36e2
                      recipientCreditAmount:
                        type: integer
                        example: 500
                        default: 0
                      recipientId:
                        type: string
                        example: 7b233c5e-98a9-409f-8dab-06b20e0115ac
                      redemptionEvent:
                        type: string
                        example: create_user
                      redemptionThresholdAmount:
                        type: integer
                        example: 0
                        default: 0
                      senderCreditAmount:
                        type: integer
                        example: 250
                        default: 0
                      senderId:
                        type: string
                        example: fd84617f-ff6b-4e14-bb0f-2b67b98b4b09
                      status:
                        type: string
                        example: redeemed
                  sentReferrals:
                    type: array
                    items:
                      type: object
                      properties:
                        created:
                          type: string
                          example: '2023-11-30T22:10:49.928-08:00'
                        id:
                          type: string
                          example: ddaa42cd-5222-4e8e-b99e-20a41d9d36e2
                        recipientCreditAmount:
                          type: integer
                          example: 500
                          default: 0
                        recipientId:
                          type: string
                          example: a2233c5e-98a9-409f-8dab-06b20e0115ac
                        redemptionEvent:
                          type: string
                          example: create_user
                        redemptionThresholdAmount:
                          type: integer
                          example: 0
                          default: 0
                        senderCreditAmount:
                          type: integer
                          example: 250
                          default: 0
                        senderId:
                          type: string
                          example: 7b233c5e-98a9-409f-8dab-06b20e0115ac
                        status:
                          type: string
                          example: redeemed
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/customers/{customerId}/auto-reload:
    post:
      summary: Set auto reload configuration
      description: ''
      operationId: configure-auto-reload
      parameters:
      - name: customerId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - enabled
              properties:
                enabled:
                  type: boolean
                  description: Enable or disable wallet auto reload behavior for this customer.
                reloadAmount:
                  type: integer
                  description: Amount to reload when the customer balance goes below the configured threshold.
                    Required if enabled is true.
                  format: int32
                paymentMethodId:
                  type: string
                  description: Payment method id to be charged. Required if enabled is true.
                reloadThreshold:
                  type: integer
                  description: If the customer's balance goes below this threshold, Ansa will automatically
                    fund the customer's wallet using the specified payment method.
                  format: int32
                autoFundingEnabled:
                  type: boolean
                  description: Opt into auto funding behavior. Only applies to Ansa Anywhere transactions.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"autoFundingEnabled\": true,\n    \"enabled\": true,\n    \"paymentMethodId\"\
                    : \"107405de-54ff-472a-9d79-19ea94a2b618\",\n    \"reloadAmount\": 3000,\n    \"reloadThreshold\"\
                    : 1500\n}"
              schema:
                type: object
                properties:
                  autoFundingEnabled:
                    type: boolean
                    example: true
                    default: true
                  enabled:
                    type: boolean
                    example: true
                    default: true
                  paymentMethodId:
                    type: string
                    example: 107405de-54ff-472a-9d79-19ea94a2b618
                  reloadAmount:
                    type: integer
                    example: 3000
                    default: 0
                  reloadThreshold:
                    type: integer
                    example: 1500
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"code\": \"invalid_payment_method_id\",\n    \"message\": \"The provided\
                    \ payment method id is invalid.\",\n    \"type\": \"invalid_request_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: invalid_payment_method_id
                  message:
                    type: string
                    example: The provided payment method id is invalid.
                  type:
                    type: string
                    example: invalid_request_error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    get:
      summary: Get auto reload configuration
      description: ''
      operationId: get-auto-reload-configuration
      parameters:
      - name: customerId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"autoFundingEnabled\": true,\n    \"enabled\": true,\n    \"paymentMethodId\"\
                    : \"107405de-54ff-472a-9d79-19ea94a2b618\",\n    \"reloadAmount\": 3000,\n    \"reloadThreshold\"\
                    : 1500\n}"
              schema:
                type: object
                properties:
                  autoFundingEnabled:
                    type: boolean
                    example: true
                    default: true
                  enabled:
                    type: boolean
                    example: true
                    default: true
                  paymentMethodId:
                    type: string
                    example: 107405de-54ff-472a-9d79-19ea94a2b618
                  reloadAmount:
                    type: integer
                    example: 3000
                    default: 0
                  reloadThreshold:
                    type: integer
                    example: 1500
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"code\": \"invalid_customer_id\",\n    \"message\": \"The provided customer\
                    \ id is invalid.\",\n    \"type\": \"invalid_request_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: invalid_customer_id
                  message:
                    type: string
                    example: The provided customer id is invalid.
                  type:
                    type: string
                    example: invalid_request_error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}\n"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/customer_segments:
    post:
      summary: Create segment
      description: ''
      operationId: create-customer-segment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n  \"id\": \"d0ad2310-eed2-4847-ae92-3720613dd3a4\",\n  \"createdAt\": \"\
                    2026-09-20T20:34:07.000Z\",\n  \"updatedAt\": \"2026-09-20T20:34:07.000Z\",\n  \"\
                    name\": \"Test Segment\",\n  \"totalCount\": 1232\n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: d0ad2310-eed2-4847-ae92-3720613dd3a4
                  createdAt:
                    type: string
                    example: '2026-09-20T20:34:07.000Z'
                  updatedAt:
                    type: string
                    example: '2026-09-20T20:34:07.000Z'
                  name:
                    type: string
                    example: Test Segment
                  totalCount:
                    type: integer
                    example: 1232
                    default: 0
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    get:
      summary: List segments
      description: ''
      operationId: list-segments
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n  \"cursor\": \"cursor\",\n  \"data\": [\n\t  {\n\t\t  \"id\": \"d0ad2310-eed2-4847-ae92-3720613dd3a4\"\
                    ,\n\t\t  \"createdAt\": \"2026-09-20T20:34:07.000Z\",\n\t\t  \"updatedAt\": \"2026-09-20T20:34:07.000Z\"\
                    ,\n\t\t  \"name\": \"Test Segment\",\n\t\t\t\"totalCount\": 0\n\t\t}\n  ],\n  \"hasMore\"\
                    : true\n}"
              schema:
                type: object
                properties:
                  cursor:
                    type: string
                    example: cursor
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: d0ad2310-eed2-4847-ae92-3720613dd3a4
                        createdAt:
                          type: string
                          example: '2026-09-20T20:34:07.000Z'
                        updatedAt:
                          type: string
                          example: '2026-09-20T20:34:07.000Z'
                        name:
                          type: string
                          example: Test Segment
                        totalCount:
                          type: integer
                          example: 0
                          default: 0
                  hasMore:
                    type: boolean
                    example: true
                    default: true
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/customers:
    post:
      summary: Create customer
      description: ''
      operationId: create-customer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - billingDetails
              properties:
                email:
                  type: string
                  description: The customer's email address.
                phone:
                  type: string
                  description: The customer's phone number.
                billingDetails:
                  type: object
                  required:
                  - firstName
                  - lastName
                  properties:
                    firstName:
                      type: string
                    lastName:
                      type: string
                    address:
                      type: object
                      required:
                      - city
                      - country
                      - line1
                      - postalCode
                      - state
                      properties:
                        city:
                          type: string
                        country:
                          type: string
                        line1:
                          type: string
                          description: Address line 1
                        line2:
                          type: string
                          description: Address line 2
                        postalCode:
                          type: string
                        state:
                          type: string
                referralCode:
                  type: string
                  description: A referral code from another customer that will be claimed as the new customer
                    is created.
                metadata:
                  type: string
                  description: JSON object of string key-value pairs that you can attach to a customer.
                  format: json
                walletStatus:
                  type: string
                  description: 'Only used for merchants with the verified wallet feature.  The status
                    of the wallet. Possible values are: default, verified'
                  default: default
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"id\": \"09c02419-9ef4-41b5-979d-e9793dadb101\",\n    \"email\": \"\
                    klause.loupe@email.com\",\n    \"phone\": \"tel:+1-415-555-0100\",\n    \"ansaMetadata\"\
                    : {\n        \"isTapToPayEnabled\": false,\n        \"referralCode\": \"QCPYCP5I\"\
                    ,\n        \"square\": {\n            \"customerId\": \"\"\n        },\n        \"\
                    stripe\": {\n            \"customerId\": \"cus_SEb5W8j0J4qWYF\"\n        }\n    },\n\
                    \    \"balance\": {\n        \"amount\": 0,\n        \"currency\": \"USD\"\n    },\n\
                    \    \"billingDetails\": {\n        \"firstName\": \"Klaus\",\n        \"lastName\"\
                    : \"Loupe\"\n    },\n    \"merchantId\": \"f3735806-cc2f-4be7-ac29-8f28cb526402\"\
                    ,\n    \"metadata\": null,\n    \"status\": \"active\"\n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 09c02419-9ef4-41b5-979d-e9793dadb101
                  email:
                    type: string
                    example: klause.loupe@email.com
                  phone:
                    type: string
                    example: tel:+1-415-555-0100
                  ansaMetadata:
                    type: object
                    properties:
                      isTapToPayEnabled:
                        type: boolean
                        example: false
                        default: true
                      referralCode:
                        type: string
                        example: QCPYCP5I
                      square:
                        type: object
                        properties:
                          customerId:
                            type: string
                            example: ''
                      stripe:
                        type: object
                        properties:
                          customerId:
                            type: string
                            example: cus_SEb5W8j0J4qWYF
                  balance:
                    type: object
                    properties:
                      amount:
                        type: integer
                        example: 0
                        default: 0
                      currency:
                        type: string
                        example: USD
                  billingDetails:
                    type: object
                    properties:
                      firstName:
                        type: string
                        example: Klaus
                      lastName:
                        type: string
                        example: Loupe
                  merchantId:
                    type: string
                    example: f3735806-cc2f-4be7-ac29-8f28cb526402
                  metadata: {}
                  status:
                    type: string
                    example: active
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n  \"code\": \"missing_parameter\",\n  \"message\": \"One of email or phone\
                    \ number must be provided.\",\n  \"type\": \"invalid_request_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: missing_parameter
                  message:
                    type: string
                    example: One of email or phone number must be provided.
                  type:
                    type: string
                    example: invalid_request_error
        '409':
          description: '409'
          content:
            application/json:
              examples:
                Conflict:
                  value: "{\n    \"code\": \"invalid_request\",\n    \"conflictingCustomerIds\": [\n \
                    \       \"07a95ebc-8478-4221-a391-99ca6916bde6\"\n    ],\n    \"message\": \"duplicate\
                    \ user\",\n    \"type\": \"invalid_request_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: invalid_request
                  conflictingCustomerIds:
                    type: array
                    items:
                      type: string
                      example: 07a95ebc-8478-4221-a391-99ca6916bde6
                  message:
                    type: string
                    example: duplicate user
                  type:
                    type: string
                    example: invalid_request_error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/merchants/{merchantId}/campaigns:
    post:
      summary: Create campaign
      description: ''
      operationId: create-incentive
      parameters:
      - name: merchantId
        in: path
        description: The ID of the merchant. You will receive this constant value during onboarding.
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - type
              - settings
              properties:
                name:
                  type: string
                  description: The name of the campaign. The campaign name is not visible to end users
                type:
                  type: string
                  description: The type of incentive campaign to create
                  enum:
                  - cashback
                  - reloadBonus
                  - promoCode
                  - drop
                  - userCreationBonus
                settings:
                  type: object
                  description: Shared campaign settings
                  required:
                  - startAt
                  - targetSegments
                  properties:
                    startAt:
                      type: string
                      description: When the campaign will start being active.
                      format: date-time
                    endAt:
                      type: string
                      description: When the campaign will stop being effective.
                      format: date-time
                    targetSegments:
                      type: array
                      description: List of segment UUIDs that will be eligible for the campaign.
                      items:
                        type: string
                    expirationMetadata:
                      type: object
                      description: Configuration for the expiration of funds
                      properties:
                        type:
                          type: string
                          description: Type specifies the expiration strategy for promotions granted by
                            this campaign.
                          enum:
                          - xDaysAfterRedeeming
                        xDaysAfterRedeeming:
                          type: object
                          properties:
                            numberOfDays:
                              type: integer
                              description: Number of days after redemption before the funds expire.
                              format: int32
                cashback:
                  type: object
                  description: Cash back configuration object
                  required:
                  - percentCashback
                  properties:
                    percentCashback:
                      type: integer
                      description: Cash back a user will receive as a percentage of use balance.
                      format: int32
                reloadBonus:
                  type: object
                  description: Reload bonus configurations
                  properties:
                    type:
                      type: string
                      description: Type of reload bonus campaign affecting the number of times a single
                        user can receive bonuses from this reload bonus campaign
                      enum:
                      - oncePerCampaign
                      - unlimited
                    rewardTiers:
                      type: array
                      description: Configuration object for the reload bonus reward tiers
                      items:
                        properties:
                          minAmount:
                            type: integer
                            description: Fund amount required to trigger this reward tier
                            format: int32
                          promoAmount:
                            type: integer
                            description: Promotion amount given to the customer
                            format: int32
                        type: object
                promoCode:
                  type: object
                  description: Promo code configurations
                  required:
                  - code
                  - amount
                  properties:
                    code:
                      type: string
                      description: The code that user's will enter to redeem the code. Case insensitive,
                        stored in uppercase.
                    amount:
                      type: integer
                      description: The credit amount that the user receives when this promo code is redeemed.
                        The integer amount is in the lowest denomination of the merchant currency code.
                      format: int32
                drop:
                  type: object
                  description: Drop configurations
                  required:
                  - amount
                  properties:
                    amount:
                      type: integer
                      description: The credit amount that the user receives when this promo code is redeemed.
                        The integer amount is in the lowest denomination of the merchant currency code.
                      format: int32
                userCreationBonus:
                  type: object
                  properties:
                    amount:
                      type: integer
                      description: Incentive amount given to the customer
                  description: User creation bonus configurations
                  required:
                  - amount
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Reload Bonus Campaign:
                  value: "{\n    \"id\": \"9bbbf5cf-41fe-4057-a8cf-a94e379854a6\",\n    \"name\": \"test-campaign\"\
                    ,\n    \"reloadBonus\": {\n        \"rewardTiers\": [\n            {\n           \
                    \     \"minAmount\": 100,\n                \"promoAmount\": 100\n            }\n \
                    \       ],\n        \"type\": \"unlimited\"\n    },\n    \"settings\": {\n       \
                    \ \"endAt\": \"2026-09-20T20:34:07.000Z\",\n        \"expirationMetadata\": {\n  \
                    \          \"type\": \"xDaysAfterRedeeming\",\n            \"xDaysAfterRedeeming\"\
                    : {\n                \"numDays\": 1\n            }\n        },\n        \"startAt\"\
                    : \"2022-09-20T20:34:07.000Z\",\n        \"targetSegments\": [\n            {\n  \
                    \              \"id\": \"28f7082f-d040-4eb3-b008-12e6319c4783\",\n               \
                    \ \"name\": \"All Customers\"\n            }\n        ]\n    },\n    \"type\": \"\
                    reloadBonus\"\n}"
                Cashback Campaign:
                  value: "{\n    \"cashback\": {\n        \"percentCashback\": 10\n    },\n    \"id\"\
                    : \"d0ad2310-eed2-4847-ae92-3720613dd3a4\",\n    \"name\": \"test-campaign\",\n  \
                    \  \"settings\": {\n        \"endAt\": \"2026-09-20T20:34:07.000Z\",\n        \"expirationMetadata\"\
                    : {\n            \"type\": \"xDaysAfterRedeeming\",\n            \"xDaysAfterRedeeming\"\
                    : {\n                \"numDays\": 1\n            }\n        },\n        \"startAt\"\
                    : \"2022-09-20T20:34:07.000Z\",\n        \"targetSegments\": [\n            {\n  \
                    \              \"id\": \"28f7082f-d040-4eb3-b008-12e6319c4783\",\n               \
                    \ \"name\": \"All Customers\"\n            }\n        ]\n    },\n    \"type\": \"\
                    cashback\"\n}"
                Promo Code Campaign:
                  value: "{\n    \"id\": \"20e6014c-774f-4b33-84cc-8d7a4cce1fff\",\n    \"name\": \"test-campaign\"\
                    ,\n    \"promoCode\": {\n        \"amount\": 123,\n        \"code\": \"1234\"\n  \
                    \  },\n    \"settings\": {\n        \"endAt\": \"2026-09-20T20:34:07.000Z\",\n   \
                    \     \"expirationMetadata\": {\n            \"type\": \"xDaysAfterRedeeming\",\n\
                    \            \"xDaysAfterRedeeming\": {\n                \"numDays\": 1\n        \
                    \    }\n        },\n        \"startAt\": \"2022-09-20T20:34:07.000Z\",\n        \"\
                    targetSegments\": [\n            {\n                \"id\": \"28f7082f-d040-4eb3-b008-12e6319c4783\"\
                    ,\n                \"name\": \"All Customers\"\n            }\n        ]\n    },\n\
                    \    \"type\": \"promoCode\"\n}"
              schema:
                oneOf:
                - title: Reload Bonus Campaign
                  type: object
                  properties:
                    id:
                      type: string
                      example: 9bbbf5cf-41fe-4057-a8cf-a94e379854a6
                    name:
                      type: string
                      example: test-campaign
                    reloadBonus:
                      type: object
                      properties:
                        rewardTiers:
                          type: array
                          items:
                            type: object
                            properties:
                              minAmount:
                                type: integer
                                example: 100
                                default: 0
                              promoAmount:
                                type: integer
                                example: 100
                                default: 0
                        type:
                          type: string
                          example: unlimited
                    settings:
                      type: object
                      properties:
                        endAt:
                          type: string
                          example: '2026-09-20T20:34:07.000Z'
                        expirationMetadata:
                          type: object
                          properties:
                            type:
                              type: string
                              example: xDaysAfterRedeeming
                            xDaysAfterRedeeming:
                              type: object
                              properties:
                                numDays:
                                  type: integer
                                  example: 1
                                  default: 0
                        startAt:
                          type: string
                          example: '2022-09-20T20:34:07.000Z'
                        targetSegments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 28f7082f-d040-4eb3-b008-12e6319c4783
                              name:
                                type: string
                                example: All Customers
                    type:
                      type: string
                      example: reloadBonus
                - title: Cashback Campaign
                  type: object
                  properties:
                    cashback:
                      type: object
                      properties:
                        percentCashback:
                          type: integer
                          example: 10
                          default: 0
                    id:
                      type: string
                      example: d0ad2310-eed2-4847-ae92-3720613dd3a4
                    name:
                      type: string
                      example: test-campaign
                    settings:
                      type: object
                      properties:
                        endAt:
                          type: string
                          example: '2026-09-20T20:34:07.000Z'
                        expirationMetadata:
                          type: object
                          properties:
                            type:
                              type: string
                              example: xDaysAfterRedeeming
                            xDaysAfterRedeeming:
                              type: object
                              properties:
                                numDays:
                                  type: integer
                                  example: 1
                                  default: 0
                        startAt:
                          type: string
                          example: '2022-09-20T20:34:07.000Z'
                        targetSegments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 28f7082f-d040-4eb3-b008-12e6319c4783
                              name:
                                type: string
                                example: All Customers
                    type:
                      type: string
                      example: cashback
                - title: Promo Code Campaign
                  type: object
                  properties:
                    id:
                      type: string
                      example: 20e6014c-774f-4b33-84cc-8d7a4cce1fff
                    name:
                      type: string
                      example: test-campaign
                    promoCode:
                      type: object
                      properties:
                        amount:
                          type: integer
                          example: 123
                          default: 0
                        code:
                          type: string
                          example: '1234'
                    settings:
                      type: object
                      properties:
                        endAt:
                          type: string
                          example: '2026-09-20T20:34:07.000Z'
                        expirationMetadata:
                          type: object
                          properties:
                            type:
                              type: string
                              example: xDaysAfterRedeeming
                            xDaysAfterRedeeming:
                              type: object
                              properties:
                                numDays:
                                  type: integer
                                  example: 1
                                  default: 0
                        startAt:
                          type: string
                          example: '2022-09-20T20:34:07.000Z'
                        targetSegments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 28f7082f-d040-4eb3-b008-12e6319c4783
                              name:
                                type: string
                                example: All Customers
                    type:
                      type: string
                      example: promoCode
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"code\": 602,\n    \"message\": \"name in body is required\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 602
                    default: 0
                  message:
                    type: string
                    example: name in body is required
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    get:
      summary: List campaigns
      description: ''
      operationId: list-incentive-campaigns
      parameters:
      - name: limit
        in: query
        description: The maximum number of campaigns to return.
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: A cursor returned from a previous request to fetch the next or previous page.
        schema:
          type: string
      - name: direction
        in: query
        description: Pagination direction. Either "forward" or "backward"
        schema:
          type: string
          enum:
          - forward
          - backward
      - name: status
        in: query
        description: Campaign status filter
        schema:
          type: string
          enum:
          - active
          - scheduled
          - completed
      - name: type
        in: query
        description: Campaign type filter
        schema:
          type: string
          enum:
          - cashback
          - reloadBonus
          - promoCode
          - drop
          - userCreationBonus
      - name: merchantId
        in: path
        description: The id of the merchant.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"campaigns\": [\n        {\n            \"id\": \"63a11091-9a3b-4685-be9c-d69ee6c79531\"\
                    ,\n            \"name\": \"test-campaign\",\n            \"reloadBonus\": {\n    \
                    \            \"rewardTiers\": [\n                    {\n                        \"\
                    minAmount\": 100,\n                        \"promoAmount\": 100\n                \
                    \    }\n                ],\n                \"type\": \"unlimited\"\n            },\n\
                    \            \"settings\": {\n                \"endAt\": \"2026-09-20T20:34:07.000Z\"\
                    ,\n                \"expirationMetadata\": {\n                    \"type\": \"xDaysAfterRedeeming\"\
                    ,\n                    \"xDaysAfterRedeeming\": {\n                        \"numDays\"\
                    : 1\n                    }\n                },\n                \"startAt\": \"2022-09-20T20:34:07.000Z\"\
                    ,\n                \"targetSegments\": null\n            },\n            \"type\"\
                    : \"reloadBonus\"\n        },\n        {\n            \"id\": \"25c1bf84-7dcf-486c-9ef9-04ec24d63267\"\
                    ,\n            \"name\": \"test-campaign\",\n            \"reloadBonus\": {\n    \
                    \            \"rewardTiers\": [\n                    {\n                        \"\
                    minAmount\": 100,\n                        \"promoAmount\": 100\n                \
                    \    }\n                ],\n                \"type\": \"unlimited\"\n            },\n\
                    \            \"settings\": {\n                \"endAt\": \"2026-09-20T20:34:07.000Z\"\
                    ,\n                \"expirationMetadata\": {\n                    \"type\": \"xDaysAfterRedeeming\"\
                    ,\n                    \"xDaysAfterRedeeming\": {\n                        \"numDays\"\
                    : 1\n                    }\n                },\n                \"startAt\": \"2022-09-20T20:34:07.000Z\"\
                    ,\n                \"targetSegments\": null\n            },\n            \"type\"\
                    : \"reloadBonus\"\n        }\n    ],\n    \"cursor\": \"eyJGaXJzdENyZWF0ZWRBdCI6IjIwMjUtMDQtMjlUMjE6Mjc6NTEuNDg1MjY1WiIsIkZpcnN0SWQiOiI2M2ExMTA5MS05YTNiLTQ2ODUtYmU5Yy1kNjllZTZjNzk1MzEiLCJMYXN0Q3JlYXRlZEF0IjoiMjAyNS0wNC0yOVQyMToyNzozMS43MzgyNTZaIiwiTGFzdElkIjoiMjVjMWJmODQtN2RjZi00ODZjLTllZjktMDRlYzI0ZDYzMjY3In0=\"\
                    ,\n    \"hasMore\": true\n}"
              schema:
                type: object
                properties:
                  campaigns:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 63a11091-9a3b-4685-be9c-d69ee6c79531
                        name:
                          type: string
                          example: test-campaign
                        reloadBonus:
                          type: object
                          properties:
                            rewardTiers:
                              type: array
                              items:
                                type: object
                                properties:
                                  minAmount:
                                    type: integer
                                    example: 100
                                    default: 0
                                  promoAmount:
                                    type: integer
                                    example: 100
                                    default: 0
                            type:
                              type: string
                              example: unlimited
                        settings:
                          type: object
                          properties:
                            endAt:
                              type: string
                              example: '2026-09-20T20:34:07.000Z'
                            expirationMetadata:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: xDaysAfterRedeeming
                                xDaysAfterRedeeming:
                                  type: object
                                  properties:
                                    numDays:
                                      type: integer
                                      example: 1
                                      default: 0
                            startAt:
                              type: string
                              example: '2022-09-20T20:34:07.000Z'
                            targetSegments: {}
                        type:
                          type: string
                          example: reloadBonus
                  cursor:
                    type: string
                    example: eyJGaXJzdENyZWF0ZWRBdCI6IjIwMjUtMDQtMjlUMjE6Mjc6NTEuNDg1MjY1WiIsIkZpcnN0SWQiOiI2M2ExMTA5MS05YTNiLTQ2ODUtYmU5Yy1kNjllZTZjNzk1MzEiLCJMYXN0Q3JlYXRlZEF0IjoiMjAyNS0wNC0yOVQyMToyNzozMS43MzgyNTZaIiwiTGFzdElkIjoiMjVjMWJmODQtN2RjZi00ODZjLTllZjktMDRlYzI0ZDYzMjY3In0=
                  hasMore:
                    type: boolean
                    example: true
                    default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: "{\n    \"code\": 606,\n    \"message\": \"direction in query should be one of\
                    \ [forward backward]\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 606
                    default: 0
                  message:
                    type: string
                    example: direction in query should be one of [forward backward]
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/customers/{customerId}/payment-methods:
    post:
      summary: Create payment method from token
      description: ''
      operationId: create-payment-method
      parameters:
      - name: customerId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              - tokenSource
              properties:
                token:
                  type: string
                  description: The token referencing the customer's payment method information.
                tokenSource:
                  type: string
                  description: Enum describing the source of the token.
                  enum:
                  - credit_card
                  - stripe
                  - google_pay
                  - apple_pay
                  - plaid
                  - bank_account
                  - software_only
                tokenData:
                  type: string
                  description: Payment token object used for `apple_pay` and `google_pay`.
                  format: json
                metadata:
                  type: string
                  description: JSON object of string key-value pairs that you can attach to the created
                    payment method.
                  format: json
                postalCode:
                  type: string
                  description: The billing postal code.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Credit Card:
                  value: "{\n\t\t  \"card\": {\n\t\t\t\t\"brand\": \"visa\",\n\t\t\t\t\"fingerprint\"\
                    : \"54B7LhtQWFV5vmCRrF2zkWNNfhPtEYfJPG795vaNaAk1\",\n\t\t\t\t\"lastFour\":\"4242\"\
                    \n\t\t\t},\n\t\t  \"id\": \"2865a348-d701-4fc5-a925-e7041cb0ebd5\",\n      \"type\"\
                    : \"credit_card\",\n\t\t\t\"preferred\": true\n}"
                Bank Account:
                  value: "{\n    \"bank\": {\n        \"accountNumberLast4\": \"1232\",\n        \"name\"\
                    : \"Discover\",\n        \"routingNumber\": \"042100122\"\n    },\n    \"id\": \"\
                    e846b122-5bb2-436e-222e-0053d54c8111\",\n    \"type\": \"bank_account\"\n}"
              schema:
                oneOf:
                - title: Credit Card
                  type: object
                  properties:
                    card:
                      type: object
                      properties:
                        brand:
                          type: string
                          example: visa
                        fingerprint:
                          type: string
                          example: 54B7LhtQWFV5vmCRrF2zkWNNfhPtEYfJPG795vaNaAk1
                        lastFour:
                          type: string
                          example: '4242'
                    id:
                      type: string
                      example: 2865a348-d701-4fc5-a925-e7041cb0ebd5
                    type:
                      type: string
                      example: credit_card
                    preferred:
                      type: boolean
                      example: true
                      default: true
                - title: Bank Account
                  type: object
                  properties:
                    bank:
                      type: object
                      properties:
                        accountNumberLast4:
                          type: string
                          example: '1232'
                        name:
                          type: string
                          example: Discover
                        routingNumber:
                          type: string
                          example: '042100122'
                    id:
                      type: string
                      example: e846b122-5bb2-436e-222e-0053d54c8111
                    type:
                      type: string
                      example: bank_account
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"code\": \"invalid_payment_method_token\",\n    \"message\": \"The provided\
                    \ payment method token value is invalid.\",\n    \"type\": \"invalid_request_error\"\
                    \n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: invalid_payment_method_token
                  message:
                    type: string
                    example: The provided payment method token value is invalid.
                  type:
                    type: string
                    example: invalid_request_error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}\n"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    get:
      summary: List payment methods
      description: ''
      operationId: list-payment-methods
      parameters:
      - name: customerId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n\t\"count\": 1,\n\t\"paymentMethods\": [\n\t\t{\n\t\t  \"card\": {\n\t\t\t\
                    \t\"brand\": \"visa\",\n\t\t\t\t\"fingerprint\": \"54B7LhtQWFV5vmCRrF2zkWNNfhPtEYfJPG795vaNaAk1\"\
                    ,\n\t\t\t\t\"lastFour\":\"4242\",\n\t\t\t\t\"firstSix\": \"123456\",\n\t\t\t},\n\t\
                    \t  \"id\": \"2865a348-d701-4fc5-a925-e7041cb0ebd5\",\n      \"type\": \"credit_card\"\
                    ,\n\t\t\t\"preferred\": true\n    }\n\t]\n}"
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/merchants/{merchantId}/promotional-accounts:
    post:
      summary: Create promotional account
      description: ''
      operationId: create-promotional-account
      parameters:
      - name: merchantId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - referenceId
              properties:
                name:
                  type: string
                  description: The name of the promotional account
                referenceId:
                  type: string
                  description: Unique identifier for the promotional account.
                metadata:
                  type: string
                  description: JSON object of string key-value pairs that you can attach to the promotional
                    account.
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"balance\": {\n        \"amount\": 0,\n        \"currency\": \"USD\"\
                    \n    },\n    \"created\": \"2024-04-10T19:20:45.948Z\",\n    \"id\": \"996671e9-2c52-44d7-84e5-245689d98ea2\"\
                    ,\n    \"metadata\": {\n        \"key\": \"value\",\n        \"key2\": \"value2\"\n\
                    \    },\n    \"name\": \"promotional-account-1\",\n    \"referenceId\": \"222\",\n\
                    \    \"updated\": \"2024-04-10T19:20:45.948Z\"\n}"
              schema:
                type: object
                properties:
                  balance:
                    type: object
                    properties:
                      amount:
                        type: integer
                        example: 0
                        default: 0
                      currency:
                        type: string
                        example: USD
                  created:
                    type: string
                    example: '2024-04-10T19:20:45.948Z'
                  id:
                    type: string
                    example: 996671e9-2c52-44d7-84e5-245689d98ea2
                  metadata:
                    type: object
                    properties:
                      key:
                        type: string
                        example: value
                      key2:
                        type: string
                        example: value2
                  name:
                    type: string
                    example: promotional-account-1
                  referenceId:
                    type: string
                    example: '222'
                  updated:
                    type: string
                    example: '2024-04-10T19:20:45.948Z'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Request:
                  value: " {\n   \"code\": \"invalid_parameter\",\n     \"message\": \"The provided parameter\
                    \ [referenceId] is invalid.\",\n       \"type\": \"invalid_request_error\",\n }"
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    get:
      summary: List promotional accounts
      description: ''
      operationId: get-promotional-accounts
      parameters:
      - name: merchantId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"promotionalAccounts\": [\n        {\n            \"balance\": {\n \
                    \               \"amount\": 0,\n                \"currency\": \"usd\"\n          \
                    \  },\n            \"created\": \"2024-04-10T19:20:45.948Z\",\n            \"id\"\
                    : \"996671e9-2c52-44d7-84e5-245689d98ea2\",\n            \"metadata\": {\n       \
                    \         \"key\": \"value\",\n                \"key2\": \"value2\"\n            },\n\
                    \            \"name\": \"promotional-account-1\",\n            \"referenceId\": \"\
                    222\",\n            \"updated\": \"2024-04-10T19:20:45.948Z\"\n        },\n      \
                    \  {\n            \"balance\": {\n                \"amount\": 99928,\n           \
                    \     \"currency\": \"USD\"\n            },\n            \"created\": \"2023-08-23T17:29:22.167Z\"\
                    ,\n            \"id\": \"c24b1f46-4249-4335-9eaf-a25f6ac6db9f\",\n            \"metadata\"\
                    : {},\n            \"name\": \"\",\n            \"referenceId\": \"default\",\n  \
                    \          \"updated\": \"2024-03-12T04:07:07.587Z\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  promotionalAccounts:
                    type: array
                    items:
                      type: object
                      properties:
                        balance:
                          type: object
                          properties:
                            amount:
                              type: integer
                              example: 0
                              default: 0
                            currency:
                              type: string
                              example: usd
                        created:
                          type: string
                          example: '2024-04-10T19:20:45.948Z'
                        id:
                          type: string
                          example: 996671e9-2c52-44d7-84e5-245689d98ea2
                        metadata:
                          type: object
                          properties:
                            key:
                              type: string
                              example: value
                            key2:
                              type: string
                              example: value2
                        name:
                          type: string
                          example: promotional-account-1
                        referenceId:
                          type: string
                          example: '222'
                        updated:
                          type: string
                          example: '2024-04-10T19:20:45.948Z'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /v1/customers/{customerId}/virtual-card:
    post:
      summary: Create virtual card
      description: ''
      operationId: create-virtual-card
      parameters:
      - name: customerId
        in: path
        description: The id of the customer.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"card\": {\n\t\t\"expMonth\": \"08\",\n\t\t\"expYear\": \"2029\",\n\t\t\
                    \"lastFour\": \"8414\",\n\t\t\"cardHolderName\": \"Tony Lee\",\n\t\t\"cardNetwork\"\
                    : \"mastercard\",\n\t\t\"state\": \"OPEN\"\n\t},\n\t\"id\": \"47d688b2-c0d6-46a2-81e5-2baa979a5aa2\"\
                    ,\n\t\"type\": \"VIRTUAL\"\n}"
              schema:
                type: object
                properties:
                  card:
                    type: object
                    properties:
                      expMonth:
                        type: string
                        example: 08
                      expYear:
                        type: string
                        example: '2029'
                      lastFour:
                        type: string
                        example: '8414'
                      cardHolderName:
                        type: string
                        example: Tony Lee
                      cardNetwork:
                        type: string
                        example: mastercard
                      state:
                        type: string
                        example: OPEN
                  id:
                    type: string
                    example: 47d688b2-c0d6-46a2-81e5-2baa979a5aa2
                  type:
                    type: string
                    example: VIRTUAL
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    put:
      summary: Update virtual card
      description: ''
      operationId: edit-virtual-card
      parameters:
      - name: customerId
        in: path
        description: The id of the customer.
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  default: OPEN
                  enum:
                  - OPEN
                  - CLOSED
                  - PAUSED
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"card\": {\n\t\t\"expMonth\": \"08\",\n\t\t\"expYear\": \"2029\",\n\t\t\
                    \"lastFour\": \"8414\",\n\t\t\"cardHolderName\": \"Tony Lee\",\n\t\t\"cardNetwork\"\
                    : \"mastercard\",\n\t\t\"state\": \"OPEN\"\n\t},\n\t\"id\": \"47d688b2-c0d6-46a2-81e5-2baa979a5aa2\"\
                    ,\n\t\"type\": \"VIRTUAL\"\n}"
              schema:
                type: object
                properties:
                  card:
                    type: object
                    properties:
                      expMonth:
                        type: string
                        example: 08
                      expYear:
                        type: string
                        example: '2029'
                      lastFour:
                        type: string
                        example: '8414'
                      cardHolderName:
                        type: string
                        example: Tony Lee
                      cardNetwork:
                        type: string
                        example: mastercard
                      state:
                        type: string
                        example: OPEN
                  id:
                    type: string
                    example: 47d688b2-c0d6-46a2-81e5-2baa979a5aa2
                  type:
                    type: string
                    example: VIRTUAL
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
    get:
      summary: Get virtual card
      description: ''
      operationId: get-virtual-card
      parameters:
      - name: customerId
        in: path
        description: The ID of the customer.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"card\": {\n\t\t\"expMonth\": \"08\",\n\t\t\"expYear\": \"2029\",\n\t\t\
                    \"lastFour\": \"8414\",\n\t\t\"cardHolderName\": \"Tony Lee\",\n\t\t\"cardNetwork\"\
                    : \"mastercard\",\n\t\t\"state\": \"OPEN\"\n\t},\n\t\"id\": \"47d688b2-c0d6-46a2-81e5-2baa979a5aa2\"\
                    ,\n\t\"type\": \"VIRTUAL\"\n}"
              schema:
                type: object
                properties:
                  card:
                    type: object
                    properties:
                      expMonth:
                        type: string
                        example: 08
                      expYear:
                        type: string
                        example: '2029'
                      lastFour:
                        type: string
                        example: '8414'
                      cardHolderName:
                        type: string
                        example: Tony Lee
                      cardNetwork:
                        type: string
                        example: mastercard
                      state:
                        type: string
                        example: OPEN
                  id:
                    type: string
                    example: 47d688b2-c0d6-46a2-81e5-2baa979a5aa2
                  type:
                    type: string
                    example: VIRTUAL
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Internal Error:
                  value: "{\n  \"code\": \"internal\",\n  \"message\": \"Something went wrong. Please\
                    \ try again later.\",\n  \"type\": \"api_error\"\n}"
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: internal
                  message:
                    type: string
                    example: Something went wrong. Please try again later.
                  type:
                    type: string
                    example: api_error
      deprecated: false
  /customers/{customerId}/deactivate:
    post:
      summary: Deactivate customer
      description: Deactivate a [customer](https://docs.ansa.dev/reference/customer). Once a customer
        is deactivated, they will not be able to access any operations through the API authorized with
        a client secret, but operations on the deactivate customer authorized with a merchant secret key
        will continue to go through.
      operationId: deactivate-customer
      parameters:
      - name: customerId
        in: path
        description: The id of a customer.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: "{\n    \"ansaMetadata\": {\n        \"referralCode\": \"13YXZF9M\",\n      \
                    \  \"square\": {\n            \"customerId\": \"\"\n        },\n        \"stripe\"\
                    : {\n            \"customerId\": \"cus_SErRLEbirf15ht\"\n        }\n    },\n    \"\
                    balance\": {\n        \"amount\": 12312,\n        \"currency\": \"usd\"\n    },\n\
                    \    \"billingDetails\": {\n        \"firstName\": \"bowie\",\n        \"lastName\"\
[...]
